<ion-header>
  <ion-toolbar>
    <ion-title>Event Detail</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card >
    <ion-card-header color="primary">
      <span>Flight Information</span>
    </ion-card-header>

    <ion-card-content style="padding: 0;">
      <ion-item lines="none">
          <ion-label >From:</ion-label>
          <ion-label  style="text-align:right;">{{flight.Departure}}</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label >To:</ion-label>
            <ion-label  style="text-align:right;">{{flight.Destination}}</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label >Departure Time:</ion-label>
            <ion-label  style="text-align:right;">{{flight.TimeDepart}}</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label >Departure Date:</ion-label>
            <ion-label  style="text-align:right;">{{flight.Date}}</ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card >
      <ion-card-header color="primary">
        <span>Flight Crew</span>
      </ion-card-header>
  
      <ion-card-content style="padding: 0;">
        <ion-item lines="none">
            <ion-label >Captain:</ion-label>
            <ion-label style="text-align:right;" >{{flight.Captain}}</ion-label>
          </ion-item>
          <ion-item lines="none">
              <ion-label >First Officer:</ion-label>
              <ion-label style="text-align:right;">{{flight.FirstOfficer}}</ion-label>
          </ion-item>
          <ion-item lines="none">
              <ion-label >Flight Attendant:</ion-label>
              <ion-label style="text-align:right;">{{flight.FlightAttendant}}</ion-label>
          </ion-item>
      </ion-card-content>
    </ion-card>
  
</ion-content>
