
.Absolute-BottomRight {
    position: absolute;
    bottom: 0; 
    right: 0;
    color: red;
}
.Absolute-TopRight {
    position: absolute;
    top: 0; 
    right: 0;
}
.Absolute-TopLeft{
    position: absolute;
    top: 0;
    left: 0; 
   
}
.Absolute-BottomLeft{
    position: absolute;
    bottom: 0; 
    left: 0;
}
ion-col{
    position: relative;
}
.rotate {
    display: inline-block; 
    transform: rotate(45deg);
  }
ion-list{
    padding: 0;
  }