<ion-content>
  <!-- Item Dividers in a List -->
  <ion-list>
    <ion-item-divider color="light">
      <ion-label>
        18 jun. 2018
      </ion-label>
    </ion-item-divider>
  
  <ion-item lines="full" (click)="navToDetail();">
    <ion-grid>
        <ion-row>
          <ion-col size="2">
              <ion-icon  size="large" name="airplane"></ion-icon>
          </ion-col>
          <ion-col size="5">
           <div class="Absolute-TopLeft"><strong> EDI - AMS </strong></div>
            <div class="Absolute-BottomLeft">AMS</div>
          </ion-col>
          <ion-col size="5">
              <div class="Absolute-TopRight">Match Crew</div>
              <div class="Absolute-BottomRight">7:50 - 9:50</div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
</ion-list>
</ion-content>
